.technologies {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 47.5px 0 0 0;
  padding: 2rem 3rem 2rem 3rem;
}
.t-heading {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 0 0 0;
}
.t-heading > :nth-child(1) {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--orange);
  /* margin-bottom: 10px; */
}
.t-heading > :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray);
}
.t-heading > :nth-child(3) {
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--black);
  margin-bottom: 30px;
}
.subOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 0;
  z-index: 2;
  position: relative;
}
.skills h1 {
  margin: 20px 0 10px 0;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bolder;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.t-firstHeading {
  position: relative;
}
.t-firstHeading::before {
  position: absolute;
  top: -70px;
  left: -50px;
  font-size: 6rem;
  font-weight: bold;
  color: #2a2d32;
  z-index: -1;
}
