.ProfileCard {
  width: 14.5rem;
  height: 30rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2px 26px;
}

/* Profile Images */
.ProfileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProfileImages > img:nth-of-type(1) {
  width: 100%;
}

/* Profile Name */
.ProfileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
}

.ProfileName > span:nth-of-type(1) {
  color: var(--orange);
  font-size: 25px;
  padding: 0px 10px;
  font-weight: bold;
}
.ProfileName > span:nth-of-type(2) {
  color: var(--gray);
  font-size: 15px;
  padding: 0px 10px;
  font-weight: bold;
}
.ProfileName > span:nth-of-type(3) {
  color: var(--black);
  font-size: 15px;
  padding: 0px 10px;
  font-weight: normal;
}

.p-button {
  position: relative;
  width: 100px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: var(--orange);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.followStatus {
  position: absolute;
  bottom: 5px;
}
