.p-card {
  width: 14.5rem;
  height: 25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2px 26px;
}

.p-card > img {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  margin-bottom: -1rem;
  margin-top: -0.6rem;
}
.p-technologies {
  color: var(--yellow);
  font-size: 16px;
  padding: 0px 10px;
}

.p-heading {
  color: var(--orange);
  font-size: 20px;
  padding: 0px 10px;
  font-weight: bold;
}
.p-description {
  color: var(--gray);
  font-size: 14px;
  padding: 0px 10px;
}
.p-icons {
  margin: 10px 10px;
  transform: scale(0.8);
  width: 50px;
  height: 50px;
}
.p-icons:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .p-card {
    width: auto;
  }
}
